body{
    margin: 0px;
    background-color: rgb(19, 17, 17);
    width: 100%;
    width: 100%;
    font-family: sans-serif;
    color: white;
    
}
@media (max-width:300px) {
    .profile_box{
        margin-top: 50%;
        
    }
}

.profile_box{
    width: fit-content;
    height:fit-content;
    background-color: rgb(34, 30, 30);
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
}

.image{
    height: 40px;
    width:40px;
    overflow: hidden;
    border:1px solid black;
    border-radius: 25px;
    margin: auto;
}

.name{
    width:fit-content;
    margin: auto;
    margin-top: 5px;
}

.address{
    width: fit-content;
    margin: auto;
    font-size: x-small;
    color: rgb(153, 241, 21);
}

.profession{
    width: fit-content;
    margin: auto;
    font-size: xx-small;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 25px;
    font-weight: bold;
    background-color: rgb(67, 64, 64);
    font-size: x-small;
}
.button:hover{
    background-color: rgb(149, 239, 14);
}
